@import "variables";
@import "menu";
@import "album";
@import "biografia";
@import "curiosidades";
@import "tour";
@import "canciones";



body {
    background-color:$backgroundA;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/*FOOTER*/
.abajo{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    background-color:$backgroundB;
    color: white;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    width: 100%;
    min-width: 115%;
    bottom: 0;
    align-self: flex-end;

}

.abajoContainer{
    display: flex;
}


/*CAMBIOS DE bootstrap*/
.color{
    background-color: $colorTexto;
    margin-top: 50px;
}


