@import "variables";
@import "menu";
@import "album";
@import "biografia";
@import "curiosidades";
@import "tour";
@import "canciones";

html {
    height: 100%;
}

body {
    background-color:$backgroundA;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
}



// HEADER
.header{
    overflow-y: hidden;
    overflow-x: hidden;
}

/*FOOTER*/
.abajo{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    background-color:$backgroundB;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}



/*CAMBIOS DE bootstrap*/
.color{
    background-color: $colorTexto;
    margin-top: 50px;
}


// COMPLEMENTO DE AYUDA
.div-separador {
    height: 2px; 
    margin-top: 20px; 
}
